/* ======================================== */
/*   BASE
/* ======================================== */

.wrapper {
    width: 100%;

    table-layout: fixed;

    & .wrapper--row{
      width: 100%;
      table-layout: fixed;
    }

    & .wrapper--webkit {
        max-width: $base__wrapper--size;
    }

    & .wrapper--outer {
        width: 100%;
        max-width: $base__wrapper--size;
        margin: 0 auto;
    }

    & .wrapper--inner{
        padding: $base__wrapper--padding;
    }

    & .wrapper--content{
        width: 100%;
    }

    & .ol-wrapper--outer{
      width: $base__wrapper--size;
    }
}
