/* ======================================== */

/*      Making Sense's Email Framework

/* ======================================== */
/*
	Project:    Email Framework
	Company:    Making Sense
	Version:    1.0
	Author:     Email UI/UX Team

	sass --compass --watch style.scss:main.css
*/


// ----------------------------------------------
//   Make sure the charset is set appropriately
// ----------------------------------------------

@charset "UTF-8";


// -------------------------------------
//   Theme
// -------------------------------------

//@import "themes/default";


// -------------------------------------
//   Core
// -------------------------------------

@import
	"core/normalize",
	"core/base",
	"core/grid",
	"core/mediaqueries";

// -------------------------------------
//   Helpers
// -------------------------------------

@import
	"helpers/helpers";

// -------------------------------------
//   Modules
// -------------------------------------

@import
	"modules/typography",
	"modules/buttons";
